.chips {
  min-height: 34px;
  border: 1px solid $black;
  border-radius: 20px;
  padding: 0 16px;

  &-removable {
    padding: 0 0 0 16px;
    @extend .text-sm;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
