#loader {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 500;
    overflow: auto;

    .svg-loader {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .svg-text {
        max-width: 310px;
        height: 50px;
        display: inline-block;
        position: absolute;
        color: #FE4C30;
        font-size: 16px;
        top: 150px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
