.t {
  &-4 {
    top: 4px;
  }
  &-8 {
    top: 8px;
  }
  &-12 {
    top: 12px;
  }
  &-16 {
    top: 16px;
  }
}
.l {
  &-4 {
    left: 4px;
  }
  &-8 {
    left: 8px;
  }
  &-12 {
    left: 12px;
  }
  &-16 {
    left: 16px;
  }
}
.r {
  &-4 {
    right: 4px;
  }
  &-8 {
    right: 8px;
  }
  &-12 {
    right: 12px;
  }
  &-16 {
    right: 16px;
  }
}
.b {
  &-4 {
    bottom: 4px;
  }
  &-8 {
    bottom: 8px;
  }
  &-12 {
    bottom: 12px;
  }
  &-16 {
    bottom: 16px;
  }
}
