.footer {
  &-spaced {
    margin-bottom: 56px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
  }
  .lang_curr_text_icon{
    display: inline-flex;
    align-items: center;
    height: 24px;
    vertical-align: middle;
  }
}
