.cancelation-container {
  border-top: 1px solid $default-border-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include media-breakpoint-up(md) {
    position: static;
    border-top: none;
  }
}

.calendar-page {
    .CalendarDay__default {
        position: relative;
        background-color: #F2F2F2;
    }

    .CalendarDay__highlighted_calendar {
        border: 1px solid #e4e7e7;
        color: #484848;
        background: #fff;
    }

    .CalendarDay__highlighted_calendar:hover {
        color: #484848;
        background-color: #fff;
    }

    .CalendarDay__blocked_out_of_range,
    .CalendarDay__blocked_out_of_range:hover {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none" viewBox="0 0 100 100"><path d="M0 99 L99 0 L100 1 L1 100" fill="grey" /></svg>');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%, auto;
        border: 1px solid #e4e7e7;
        color: #cacccd;
        background-color: #F2F2F2;
    }

    .CalendarDay__blocked_out_of_range span {
        text-decoration-line: none !important;
    }

    .CalendarDay__highlighted_calendar span {
        text-decoration-line: none !important;
    }

    .DayPicker__horizontal {
        background: #fff;
        z-index: 0;
    }
    .DayPickerNavigation_button__default {
        border: white;
        background-color: #fff;
        color: #fff;
    }

    .DayPickerNavigation_button__horizontalDefault {
        position: absolute;
        top: 18px;
        line-height: .78;
        border-radius: 0px;
        padding: 0px;
    }

    .DayPickerNavigation_svg__horizontal {
        height: 36px;
        width: 36px;
        display: block;
    }

    @media only screen and (min-width: 501px) and (max-width: 768px) {
        .CalendarDay__default span {
            position: absolute;
            bottom: 2%;
            right: 12%;
            font-size: 16px;
            line-height: 30px;
            text-decoration-line: line-through;
            text-decoration-color: black;
        }
        .CalendarProfileImg {
            border: 1px solid #FFF;
            border-radius: 50%;
            left: 3px;
            width: 36px;
            height: 36px;
        }
    }
    @media only screen and (min-width: 1551px) {
        .CalendarDay__default span {
            position: absolute;
            bottom: 2%;
            right: 12%;
            font-size: 16px;
            line-height: 30px;
            text-decoration-line: line-through;
            text-decoration-color: black;
        }
        .CalendarProfileImg {
            border: 1px solid #FFF;
            border-radius: 50%;
            left: 3px;
            width: 36px;
            height: 36px;
        }
    }

    @media only screen and (max-width: 500px){
        .CalendarDay__default span {
            position: absolute;
            bottom: 2%;
            right: 12%;
            font-size: 14px;
            line-height: 20px;
            text-decoration-line: line-through;
            text-decoration-color: black;
        }
        .CalendarProfileImg {
            border: 1px solid #FFF;
            border-radius: 50%;
            left: 3px;
            width: 25px;
            height: 25px;
        }
    }

    @media only screen and (min-width: 950px) and (max-width: 1550px){
        .CalendarDay__default span {
            position: absolute;
            bottom: 2%;
            right: 12%;
            font-size: 14px;
            line-height: 20px;
            text-decoration-line: line-through;
            text-decoration-color: black;
        }
        .CalendarProfileImg {
            border: 1px solid #FFF;
            border-radius: 50%;
            left: 3px;
            width: 25px;
            height: 25px;
        }
    }

    @media only screen and (min-width: 769px)  and (max-width: 950px) {
        .CalendarDay__default span {
            position: absolute;
            bottom: 2%;
            right: 12%;
            font-size: 10px;
            line-height: 10px;
            text-decoration-line: line-through;
            text-decoration-color: black;
        }
        .CalendarProfileImg  {
            border: 1px solid #FFF;
            border-radius: 50%;
            left: 3px;
            width: 18px;
            height: 18px;
        }
    }

    @media only screen and (max-width: 400px) {
        .CalendarDay__default span {
            position: absolute;
            bottom: 2%;
            right: 12%;
            font-size: 10px;
            line-height: 10px;
            text-decoration-line: line-through;
            text-decoration-color: black;
        }
        .CalendarProfileImg  {
            border: 1px solid #FFF;
            border-radius: 50%;
            left: 3px;
            width: 18px;
            height: 18px;
        }
    }

    .CalendarProfileActive {
        background-color: #FE4C30;
        color: #FFF;
        height: 100%;
        position: relative;
    }

    .CalendarProfileActive, .CalendarProfileInactive span {
        text-decoration-line: none !important;
    }

    .CalendarProfileInactive {
        background-color: #F2F2F2;
        color: #BDBDBD;
        height: 100%;
        position: relative;
    }
}
