.drivers-illustration {
  height: 237px;
  @include media-breakpoint-up(md) {
    height: 273px;
  }
  @include media-breakpoint-up(xl) {
    height: 343px;
  }
  @include media-breakpoint-up(xxl) {
    height: 403px;
  }
  @include media-breakpoint-up(xxxl) {
    height: 404px;
  }

  .overlay {
    background: rgba(5, 4, 62, 0.23)
  }
}

.chips_container {
    .home_seach_items{
        display: inline-block;
    }
    .calendar_popup, .travelers_count_popup {
        top: 40px;
    }
}
