.tour-illustration {
  height: 396px;
  @include media-breakpoint-up(lg) {
    height: 407px;
  }
  @include media-breakpoint-up(xl) {
    height: 509px;
  }
  @include media-breakpoint-up(xxl) {
    height: 620px;
  }
  @include media-breakpoint-up(xxxl) {
    height: 700px;
  }

  .overlay {
    background: transparent;
    bottom: unset;
  }

  .slick-slider, .slick-list, .slick-track, .slick-slide {
    height: 100%;
  }

  .slick-slide {
    >div, img {
      height: 100%;
    }
  }

  .slick-dots {
    bottom: 70px;
    display: none !important;
    @include media-breakpoint-up(xl) {
      display: block !important;
    }
    @include media-breakpoint-up(xxl) {
      bottom: 80px;
    }
    @include media-breakpoint-up(xxxl) {
      bottom: 90px;
    }

    li:not(.slick-active) button:before {
      opacity: 1;
      color: $grey;
    }
  }
}

.sfd_popup_form{
    .tour_seach_items{
        width: 325px;
        min-width: 325px;
        margin: 10px auto;
    }
    .tour_seach_items > .form-field{
        width: 100%;
    }
    .tour_calendar_popup {
        position: absolute;
        top: 55px;
        z-index: 999;
        width: 100%;
    }
    .sfd_travelers_count_popup{
        position: absolute;
        top: 55px;
        z-index: 999;
        width: 100%;

        .trvlr_count_container{
            box-shadow: 0 2px 6px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.07);
            border-radius: 3px;
            background: white;
            padding: 16px 16px;
            height: 100%;
        }
        .trvlr_count_container > .d-flex > span{
            display: inline-block;
            width: 75%;
        }
        .trvlr_count_container > .d-flex{
            margin-bottom: 0!important;
        }
        .trvl_cnt_footer{
            margin: 0 5px;
            padding: 5px 0px;
        }
        .btn-clear{
            color: #757577;
        }
        .btn-done{
            float:right;
        }
    }
    .btn-sfd {
        width: 325px;
        margin: 15px auto;
    }
}

.tour_seach_items{
    position: relative;
    .tour_calendar_popup {
        position: absolute;
        bottom: 55px;
        z-index: 999;
    }
    .tour_travelers_count_popup{
        position: absolute;
        bottom: 55px;
        z-index: 999;
        height: 164px;
        width: 326px;

        .trvlr_count_container{
            box-shadow: 0 2px 6px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.07);
            border-radius: 3px;
            background: white;
            padding: 16px 16px;
            height: 100%;
        }
        .trvlr_count_container > .d-flex > span{
            display: inline-block;
            width: 60%;
        }
        .trvlr_count_container > .d-flex{
            margin-bottom: 0!important;
        }
        .trvl_cnt_footer{
            margin: 0 5px;
            padding: 5px 0px;
        }
        .btn-clear{
            color: #757577;
        }
        .btn-done{
            float:right;
        }
    }
}
