@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700,700i&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #757575;
    margin: 0;
    padding: 0;
}

h1 {margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2 {margin: 0 0 0.5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em;}
h3 {margin: 0 0 0.5em 0; font-size: 1.3em; font-weight: 700;}
h4 {margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700; }

p {margin: 0; padding: 0}

a {
    color: inherit;
    text-decoration: none;
}


#page {
    max-width: 1760px;
    margin: 0 auto;
    position: relative;
}

.explore {
    position: absolute;
    top: 438px;
    left: 80px;
    z-index: 1;
    width: 657px;
}

.explore h2 {
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.explore p {
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}

.explore div.explore-button {
    width: 169px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

.explore div.explore-button span {
    position: absolute;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #FE4C30;
    top: 13px;
    left: 15px;
}


.content {
    height: 800px;
    background: linear-gradient(180deg, rgba(16, 15, 114, 0.6) 0%, rgba(16, 15, 114, 0.37) 41.29%, rgba(16, 15, 114, 0.16) 100%), url("./assets/images/home_background_1760_800.jpg") no-repeat center center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(5, 4, 62, 0.23);
    z-index: 2000;
    position: fixed;
    display: none;
}

.display-block {display: block;}


header {
    height: 56px;
    padding-top: 16px;
}

.header-border {
    box-shadow: 0 1px 0 #BDBDBD;
}

.blue-color {color: #100F72;}
.white-color {color: #FFFFFF;}

header::after {
    content: "";
    clear: both;
    display: block;
}

/* header left side */
header div.header-left-side {
    float: left;
    margin-left: 80px;
}

header div.header-left-side > div {
    display: inline-block;
    float: left;
}

header div.search-place {
    margin-left: 23px;
    position: relative;
}

.search-place div.search-icon-white {
    position: absolute;
    width: 25px;
    height: 24px;
    background: url("./assets/images/search_icon.png") no-repeat center center;
    top: 6px;
    cursor: pointer;
}

.search-place div.search-icon-black {
    position: absolute;
    width: 25px;
    height: 24px;
    background: url("./assets/images/search_icon_black.png") no-repeat center center;
    top: 6px;
    cursor: pointer;
}


.search-place input.search-text-white {color: #FFFFFF;}
.search-place input.search-text-grey {color: #757575;}
.search-place input.search-text {
    position: absolute;
    top: 8px;
    left: 30px;
    border: none;
    outline: none;
    font-family: Roboto;
    background: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.search-place input.search-text-white::placeholder {color: #FFFFFF;opacity: 1;}
.search-place input.search-text-white:-ms-input-placeholder {color: #FFFFFF;}
.search-place input.search-text-white::-ms-input-placeholder {color: #FFFFFF;}

.search-place input.search-text-grey::placeholder {color: #757575;opacity: 1;}
.search-place input.search-text-grey:-ms-input-placeholder {color: #757575;}
.search-place input.search-text-grey::-ms-input-placeholder {color: #757575;}

header div.search-place::after {
    content: '';
    display: block;
    clear: both;
}

/* driver header step area */

.header-left-side .step-area {
    color: #757575;
    margin-left: 40px;
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
}


/* header right side */
header div.header-right-side > div {
    display: inline-block;
    float: left;
    margin: 0 20px;
}

header div.header-right-side {
    float: right;
    margin-top: 5px;
    position: relative;
}

header div.header-right-side select {
    border: 0;
    outline: 0;
    background-color: rgba(255,255,255,0);
    padding: 5px;
    color: #FFFFFF;
    font-size: 16px;
}

header div.header-right-side select option {
    border: none;
    outline: none;
}

header div.header-right-side span.currency-icon {
    color: black;
}

header div.header-right-side div.sign-up {
    width: 87px;
    height: 32px;
    margin-top: -4px;
    margin-right: 0;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding-top: 8px;
    cursor: pointer;
    transition: background-color 0.5s;
}

header div.header-right-side div.sign-up:hover {
    background-color: rgba(0, 0, 0, .3);
}

header div.header-right-side div.sign-up:hover > span {
    color: #FFFFFF;
}

header div.header-right-side div.become-driver:hover {text-decoration: underline;}
header div.header-right-side div.become-driver {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

header div.header-right-side div.login {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 7px 20px;
    margin-top: -4px;
    margin-right: 80px;
    cursor: pointer;
}

header div.header-right-side div.login span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    text-align: right;
}

header div.header-right-side div.sign-up span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    transition: color 0.5s;
    color: #090925;
}

/******************* header right sight: menu after sign in/up*/
header div.header-right-side .traveler-menu > div {
    display: inline-block;
    float: left;
    margin: 0 20px;
}

header div.header-right-side .traveler-menu .text:hover {
    text-decoration: underline;
}

header div.header-right-side .traveler-menu .text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    display: inline-block;
    float: left;
}
header div.header-right-side .traveler-menu .text-white { color: #FFFFFF; }
header div.header-right-side .traveler-menu .text-black { color: #090925; }

header div.header-right-side .traveler-menu div.home .icon-white {background: url("./assets/images/Home.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.home .icon-black {background: url("./assets/images/Home_icon_black.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.home .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    float: left;
}

header div.header-right-side .traveler-menu div.saved .icon-white {background: url("./assets/images/heart.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.saved .icon-black {background: url("./assets/images/Heart_icon_black.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.saved .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    float: left;
}

header div.header-right-side .traveler-menu div.trips .icon-white {background: url("./assets/images/Trips.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.trips .icon-black {background: url("./assets/images/Trips_icon_black.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.trips .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    float: left;
}

header div.header-right-side .traveler-menu div.messages .icon-white {background: url("./assets/images/Messages.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.messages .icon-black {background: url("./assets/images/Messages_icon_black.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.messages .icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    float: left;
}

header div.header-right-side .traveler-menu div.profile {
    margin-right: 80px;
    position: relative;
    height: 51px;      /* this height for dropdown :hover action */
}

header div.header-right-side .traveler-menu div.profile .icon-white {background: url("./assets/images/Account.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.profile .icon-black {background: url("./assets/images/Account_icon_black.png") no-repeat center center;}
header div.header-right-side .traveler-menu div.profile .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    float: left;
}


/******    dropdown part******/
header div.header-right-side .traveler-menu div.profile:hover > .dropdown {
    display: block;
}

.profile .dropdown {
    z-index: 1;
    position: absolute;
    right: 1px;
    top: 51px;
    margin: 0;
    padding: 0;
    width: 328px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 4px 4px;
    display: none;
}

.profile .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile .dropdown ul li:hover {
    background: rgba(189, 189, 189, 0.16);
}

.profile .dropdown ul li {
    height: 53px;
    border-top: 0.5px solid #BDBDBD;
    cursor: pointer;
}

.profile .dropdown ul li a {
    width: 304px;
    height: 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #757575;
    display: inline-block;
    padding-left: 24px;
    padding-top: 19px;
    text-decoration: none;
}


/***************************************************************/

header div.header-left-side div.daytrip span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}


/* Log in form */

.content div.log-in-form {
    width: 440px;
    min-height: 632px;
    border: 1px solid #FFFFFF;
    margin: 16px auto 0 auto;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 3px 4px rgba(5, 4, 62, 0.23);
    border-radius: 10px;
    z-index: 5000;
}

.content div.log-in-form header {
    height: 64px;
    position: relative;
    border-bottom: 1px solid #cccccc;
    padding-top: 6px;
}

.content div.log-in-form header span {
    margin-top: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    display: block;
    align-items: center;
    text-align: center;

    color: #100F72;
}

.content div.log-in-form header div.close {
    position: absolute;
    width: 14px;
    height: 14px;
    background: url("./assets/images/Close.png") no-repeat center center;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.content div.log-in-form form {
    width: 328px;
    margin: 20px auto;
}

.content div.log-in-form form .label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 4px;
    color: #757575;
}

.form-input-container {
    position: relative;
}

.form-input-container .eye {
    width: 20px;
    height: 14px;
    /*background: url("./assets/images/Eye_show.png") no-repeat center center;*/
    display: block;
    position: absolute;
    top: 13px;
    right: 17px;
    cursor: pointer;
    z-index: 5;
}

input.input-text {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 328px;
    height: 48px;
    padding-left: 16px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.text-error-message {
    font-weight: bold;
    font-size: 12px;
    color: #B80000;
    margin-top: 4px;
    margin-left: 4px;
    display: inline-block;
}

.form-error {
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: center;
}

.error {
    border: 1px solid #B80000!important;
}

.content div.log-in-form form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: #BDBDBD;
}
.content div.log-in-form form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: normal;
    color: #BDBDBD;
}
.content div.log-in-form form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #BDBDBD;
}

.content div.log-in-form form div.remember-forgot {
    margin-top: 14px;
}

.content div.log-in-form form div.remember-forgot span.remember {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #090925;
}

.content div.log-in-form form div.remember-forgot span.forgot {
    float: right;
}
.content div.log-in-form form div.remember-forgot span.forgot a {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #757575;
    display: inline-block;
    margin: 10px 0;
    margin-left: 80px;
}

.content div.log-in-form form div.login-button {
    background: #FE4C30;
    border-radius: 4px;
    width: 328px;
    height: 48px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.content div.log-in-form form div.login-button:hover {
    background-color: #E24432;
}

.content div.log-in-form form div.login-button span {
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 42%;
}

.content div.log-in-form form div.or {
    width: 328px;
    height: 24px;
    margin-top: 20px;
    background: url("./assets/images/Or.png") no-repeat center center;
}

.content div.log-in-form form div.facebook {
    background: #3B5998;
    border-radius: 4px;
    width: 328px;
    height: 33px;
    padding-top: 15px;
    cursor: pointer;
    margin-top: 30px;
}

.content div.log-in-form form div.facebook:hover {
    background: #100F72;
}

.content div.log-in-form form div.facebook::after {
    content: "";
    display: block;
    clear: both;
}

.content div.log-in-form form div.facebook span.fb-text {
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    float: left;
    margin-left: 15px;
}

.content div.log-in-form form div.facebook span.fb-icon {
    display: block;
    width: 10px;
    height: 16px;
    background: url("./assets/images/FB Icon.png") no-repeat center center;
    float: left;
    margin-left: 55px;
}


.content div.log-in-form form div.google {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    width: 328px;
    height: 33px;
    padding-top: 15px;
    cursor: pointer;
    margin-top: 12px;
}

.content div.log-in-form form div.google span.g-icon {
    display: block;
    width: 18px;
    height: 18px;
    background: url("./assets/images/Google.png") no-repeat center center;
    float: left;
    margin-left: 55px;
}

.content div.log-in-form form div.google span.g-text {
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    color: #757575;
    float: left;
    margin-left: 15px;
}

.content div.log-in-form form div.google:after {
    content: "";
    display: block;
    clear: both;
}

.no-account {
    text-align: center;
    margin-top: 20px;
}

.no-account span.text {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #090925;
}

.no-account span.sign-in-up:hover {text-decoration: underline;}
.no-account span.sign-in-up {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FE4C30;
    cursor: pointer;
}

.content div.welcome {
    width: 440px;
    height: 640px;
    margin: 70px auto 0 auto;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(5, 4, 62, 0.23);
    border-radius: 10px;
    z-index: 5000;
}

.content div.welcome header {
    height: 64px;
    position: relative;
    border-bottom: 1px solid #cccccc;
    padding-top: 6px;
}

.content div.welcome header span {
    margin-top: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    display: block;
    align-items: center;
    text-align: center;
    color: #100F72;
}

.content div.welcome div.container {
    width: 328px;
    margin: 0 auto;
    margin-top: 30px;
}

.content div.welcome div.container div.header {
    color: #090925;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 16px;
}

.content div.welcome div.container div.text {
    height: 102px;
    color: #090925;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.content div.welcome div.control {
    width: 328px;
    height: 24px;
    margin: 76px auto 0 auto;
}

.content div.welcome div.control div {
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.content div.welcome div.control .skip:hover {text-decoration: underline;}
.content div.welcome div.control .skip {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #090925;
    margin-right: 76px;
    margin-left: 15px;
    cursor: pointer;
}

.content div.welcome div.control .next:hover {text-decoration: underline;}
.content div.welcome div.control .next {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FE4C30;
    cursor: pointer;
    margin-left: 53px;
}

.content div.welcome div.control div.dots span.big {
    height: 12px;
    width: 12px;
    background-color: #FE4C30;
}

.content div.welcome div.control div.dots span {
    height: 8px;
    width: 8px;
    background-color: #BDBDBD;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.content div.welcome .get-started:hover {background-color: #E24432;}
.content div.welcome .get-started:active {box-shadow: none;}
.content div.welcome .get-started {
    background-color: #FE4C30;
    border-radius: 4px;
    width: 159px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: block;
    margin: 64px auto 0 auto;
}

.content div.welcome div.get-started span {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/**************** main content******************/
.main-content:before {
    content: "";
    clear: both;
    display: block;
}

.main-content {
    min-height: 50px;
}

.menu-responsive {
    height: 36px;
    position: relative;
    padding-top: 20px;
    display: none;
}

.menu-responsive > div {
    float: left;
}

.menu-responsive .home {
    width: 20px;
    height: 20px;
    background: url("./assets/images/Home_icon_orange.png") no-repeat center center;
    cursor: pointer;
    margin-right: 140px;
    margin-left: 26%;
}

.menu-responsive .saved {
    width: 20px;
    height: 20px;
    background: url("./assets/images/Heart_icon_black.png") no-repeat center center;
    cursor: pointer;
    margin-right: 140px;
}

.menu-responsive .trips {
    width: 20px;
    height: 20px;
    background: url("./assets/images/Trips_icon_black.png") no-repeat center center;
    cursor: pointer;
    margin-right: 140px;
}

.menu-responsive .messages {
    width: 20px;
    height: 20px;
    background: url("./assets/images/Messages_icon_black.png") no-repeat center center;
    cursor: pointer;
}


/*****************form-select***********************/

.form-select {
    margin-bottom: 24px;
}

.single-select {

}


.form-select-label {
    font-weight: bold;
    font-size: 12px;
    color: #757575;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 4px;
}



/***********************footer*******************/
footer:before {
    content: "";
    display: block;
    clear: both;
}
footer {
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0 -1px 0 #BDBDBD;
    position: relative;
}

footer span.copyright {
    color: #090925;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}

footer div.wrapper {
    float: right; margin-top: 30px;
}

footer div.wrapper .icons {
    float: left;
}

footer div.wrapper span {margin-right: 20px;}
footer span {float: left;}
footer span.terms-conditions a {color: #757575;}
footer span.terms-conditions a:hover {text-decoration: underline;}
footer span.help a {color: #757575;}
footer span.help a:hover {text-decoration: underline;}
footer span.fb {
    width: 20px;
    height: 20px;
    background: url("./assets/images/FB_help_icon.png") no-repeat center center;
    cursor: pointer;
}
footer span.insta {
    width: 18px;
    height: 18px;
    background: url("./assets/images/Insta_help_icon.png") no-repeat center center;
    cursor: pointer;
}
footer span.twitter {
    width: 20px;
    height: 16px;
    background: url("./assets/images/Twitter_help_icon.png") no-repeat center center;
    cursor: pointer;
}



.bigInputField {width: 328px}
.smallInputField {width: 156px}
.marginTop30 {margin-top: 30px;}
.marginTop25 {margin-top: 25px;}
.marginTop20 {margin-top: 20px;}
.marginTop15 {margin-top: 15px;}
.marginBottom0 {margin-bottom: 0;}
.marginBottom8 {margin-bottom: 8px;}
.marginBottom20 {margin-bottom: 20px;}
.marginBottom25 {margin-bottom: 25px;}
.marginBottom30 {margin-bottom: 30px;}
.marginBottom46 {margin-bottom: 46px;}
.marginRight10 {margin-right: 10px;}
.marginRight16 {margin-right: 16px;}
.marginRight30 {margin-right: 30px;}

.clear {clear: both;}


/***************************** media queries*********************/
@media screen and (max-width: 1560px) {
    .content {
        height: 700px;
        background: linear-gradient(180deg, rgba(16, 15, 114, 0.6) 0%, rgba(16, 15, 114, 0.37) 41.29%, rgba(16, 15, 114, 0.16) 100%), url("./assets/images/home_background_1560_700.png") no-repeat center center;
    }

    .explore { top: 338px; }
}

@media screen and (max-width: 1280px) {
    .content {
        height: 600px;
        background: linear-gradient(180deg, rgba(16, 15, 114, 0.6) 0%, rgba(16, 15, 114, 0.37) 41.29%, rgba(16, 15, 114, 0.16) 100%), url("./assets/images/home_background_1280_600.png") no-repeat center center;
    }

    .explore { left: 40px; top: 318px; }

    header div.header-left-side { margin-left: 40px; }
    header div.header-right-side div.login { margin-right: 40px; }

    header div.header-right-side .traveler-menu div.profile { margin-right: 40px; }

}

@media screen and (max-width: 1024px) {
    .content {
        height: 600px;
        background: linear-gradient(180deg, rgba(16, 15, 114, 0.6) 0%, rgba(16, 15, 114, 0.37) 41.29%, rgba(16, 15, 114, 0.16) 100%), url("./assets/images/home_background_1024_600.png") no-repeat center center;
    }


    .explore h2 { font-size: 32px; }
    header div.header-right-side > div {  margin: 0 7px;}
    header div.search-place { margin-left: 10px; }

    .search-place input.search-text::placeholder { color: transparent; }
    .search-place input.search-text:-ms-input-placeholder { color: #FFFFFF; }
    .search-place input.search-text::-ms-input-placeholder { color: transparent; }

    header div.header-right-side .traveler-menu .home { display: none; }
    header div.header-right-side .traveler-menu .saved { display: none; }
    header div.header-right-side .traveler-menu .trips { display: none; }
    header div.header-right-side .traveler-menu .messages { display: none; }

    .menu-responsive {display: block;}
}

@media screen and (max-width: 768px) {
    .content {
        height: 900px;
        max-width: 768px;
        background: linear-gradient(180deg, rgba(16, 15, 114, 0.6) 0%, rgba(16, 15, 114, 0.37) 41.29%, rgba(16, 15, 114, 0.16) 100%), url("./assets/images/home_background_768_900.png") no-repeat center center;
    }

    header div.header-left-side { margin-left: 20px; }
    header div.header-right-side div.login { margin-right: 20px; }

    .explore { width: 620px; left: 24px; top: 620px; }

    .menu-responsive .home {margin-left: 15%;}
}

@media screen and (max-width: 660px) {
    header div.header-right-side div.language { display: none; }
    header div.header-right-side div.currency { display: none; }
    header div.header-right-side div.become-driver { display: none; }

    .explore { width: 360px; left: 12px; top: 560px;}

    .menu-responsive .home {margin-left: 20%; margin-right: 17%;}
    .menu-responsive .saved {margin-right: 17%;}
    .menu-responsive .trips {margin-right: 17%;}

    footer {
        height: 120px;
    }

    footer span.copyright {
        position: absolute;
        margin: unset;
        float: none;
        top: 110px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 210px;
    }
    footer div.wrapper {
        position: absolute;
        margin: unset;
        float: none;
        top: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 210px;
    }

    footer div.wrapper .icons {
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translate(-50%, -50%);
        width: 120px;
    }

    .content div.welcome {
        width: 360px;
        height: 610px;
    }

}


@media screen and (max-width: 450px) {
    .content div.log-in-form {
        width: 350px;
    }
}

@media screen and (max-width: 360px) {
    .content {
        height: 540px;
        max-width: 360px;
        background: linear-gradient(180deg, rgba(16, 15, 114, 0.6) 0%, rgba(16, 15, 114, 0.37) 41.29%, rgba(16, 15, 114, 0.16) 100%), url("./assets/images/home_background_360_540.png") no-repeat center center;
    }

    header div.header-right-side div.language { display: none; }
    header div.header-right-side div.currency { display: none; }
    header div.header-right-side div.become-driver { display: none; }

    .explore { width: 220px; left: 12px; top: 220px; }

    .profile .dropdown { width: 280px; }

}